# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Logs
*.log

# Exported analytics
*.json 